variable "key_name" {
  description = "The EC2 key pair to use for EC2 instance SSH access."
  type        = string
  default     = "aws_key"                   # 내 키페어
}

variable "my_ip" {
  description = "A list of IP address to grant access via the LBs."
  type        = list(string)
  default     = ["183.101.XXX.XXX/32"]      # 내 아이피
}

variable "my_notebook_ip" {
  description = "A list of IP address to grant access via the LBs."
  type        = list(string)
  default     = ["183.101.XXX.XXX/32"]      # 내 아이피
}

variable "access_key" {
  description = "AWS_ACCESS_KEY_ID"
  type        = string
  default     = "XXXXXXXXXXXXXXX"
}

variable "secret_access_key" {
  description = "AWS_SECRET_ACCESS_KEY"
  type        = string
  default     = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
}
