[Unit]
Description=Nomad
Documentation=https://nomadproject.io/docs/
Wants=network-online.target
After=network-online.target

[Service]
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/nomad agent -config /etc/nomad.d
KillMode=process
KillSignal=SIGINT
LimitNOFILE=infinity
LimitNPROC=infinity
Restart=on-failure
RestartSec=2
StartLimitBurst=3
StartLimitIntervalSec=10
TasksMax=infinity

Environment="HOME=/root"
Environment="AWS_ACCESS_KEY_ID=MY_AWS_ACCESS_KEY_ID"
Environment="AWS_SECRET_ACCESS_KEY=MY_AWS_SECRET_ACCESS_KEY"

[Install]
WantedBy=multi-user.target
